* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: hsl(30, 54%, 90%)
}

.main-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 3rem;
    background-color: white;
    font-size: 1.6rem;
    border-radius: 2rem;
    font-family: "Outfit", sans-serif;
}

.omelette-img {
    max-width: 100%;
    height: auto;
    border-radius: 6rem;
}

.main-title {
    font-size: 5rem;
    font-weight: 400;
    margin-top: 4rem;
}

.section-title {
    font-family: "Young Serif", serif;
}

.preparation-section {
    margin: 4rem 0;
    padding: 2rem 1rem 2rem 1rem;
    border-radius: 1rem;
    background-color: hsl(330, 100%, 98%);
}

.preparation-section h2 {
    margin-left: 2rem;
    color: hsl(332, 51%, 32%)
}

li::marker {
    color: hsl(14, 45%, 36%);
}

.preparation-list > li {
    
    padding: 1rem;
    margin-left: 4rem;
}















.attribution {
    font-size: 11px; text-align: center; 
    color: hsl(228, 45%, 44%);
}