* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: hsl(30, 54%, 90%)
}

main {
    max-width: 1440px;
    margin: 0 auto;
    background-color: white;
    text-align: center;
    font-size: 1.6rem;
    border-radius: 2rem;
    font-family: "Outfit", sans-serif;
}


.omelette-img {
    max-width: 100%;
    height: auto;
    padding: 4rem;
    border-radius: 6rem;
}
    
.main-title {
    font-size: 5rem;
    font-weight: 400;
}

.section-title {
    font-family: "Young Serif", serif;
}















.attribution {
    font-size: 11px; text-align: center; 
    color: hsl(228, 45%, 44%);
}